<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/cart.css">
        <title>Paws and Claws-Home</title>
    </head> 
    <body>
        <header>
             
            <nav>
                             
                <ul>
                    <li>
                       <a href= "inicio"> Inicio</a>
                   </li>
                    <li>
                       <a href="contacto"> Contacto</a>
                   </li>
                   <li>
                        <a href="login">Log In</a>
                   </li>
               </ul>
            </nav>
            <img id="logo-header" src="../Assets/Paws & claws-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible"/>
        </header>
        <main>
            <section id="producto-seleccionado">
                <h2>Cabina UV para esmaltado permanente</h2>
                <img src="../Assets/Cabina-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="product-image" />
                <p> $10.000</p>
                <button class= boton-compra id="sumar">+</button>
                <button class= boton-compra id="restar">-</button>
                <button class= boton-compra id="igual">=</button>
                <button class= boton-compra id="total">total</button>
            </section>
        </main>
        <footer>
            <div class="Info">
               <ul>
                   <li>
                       <p> Domicilio:.........</p>
                   </li>
                   <li>
                       <p> Teléfono:.........</p>
                   </li>
               </ul>
           </div>
           <div class="Copyrigth">
               <p> Copyrigth 2022. All rights resrved.</p>
           </div>
           <div class="social media"> 
               <img src="../Assets/pngtree-twitter-pink-icon-with-transparent-background-png-image_5533404.png" alt="Imágen no disponible" class="footer-images"/>
               <img src="../Assets/instagram-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="footer-images"/>
               <img src="../Assets/Logo facebook-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="footer-images"/>
           </div>
           
               <img id="logo-footer" src="../Assets/Paws & claws-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" />
       
       </footer>

    </body>
</html>
    