<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/detailProduct.css" alt="Imágen no disponible"/> 
        <title>Detail Product</title>
    </head> 

    <body>
        <header>
            <img src="../Assets/Logo_PaC-removebg-preview.jpg" alt="Imágen no disponible"/> 
           <nav>
                 <ul>
                     <li>
                        <a href= "inicio"> Inicio</a>
                    </li>
                     <li>
                        <a href="contacto"> Contacto</a>
                    </li>
                    <li>
                         <a href="login">Log In</a>
                    </li>
                </ul>
           </nav>
        </header>
        <main id="producto 1">
        
            <h2>Cabina UV para esmaltado permanente</h2>
            <img src="../Assets/Cabina.JPG" alt="Imágen no disponible"/>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, culpa!</p>
            <p> $10.000</p>
            <button id="volver">Volver</button>
        </main>
        
    

         <footer>
             <div>
                <ul>
                    <li>
                        <p> Domicilio:.........</p>
                    </li>
                    <li>
                        <p> Teléfono:.........</p>
                    </li>
                </ul>
            </div>
            <div class="Copyrigth">
                 <p> Copyrigth 2022. All rights resrved.</p>
             </div>
            <div class="social media"> 
                <img src="../Assets/Twitter logo.jpg" alt="Imágen no disponible"/>
                <img src="../Assets/instagram.jpg" alt="Imágen no disponible"/>
                <img src="../Assets/Logo facebook.jpg" alt="Imágen no disponible"/>
            </div>
            <div class="logo footer">
                <img src="../Assets/Logo_PaC-removebg-preview.jpg"alt="Imágen no disponible"/>
             </div>
        </footer>
    </body>
</html>