<!DOCTYPE html>
<html lang="esp">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paws and Claws-Home</title>

    <head>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/home.css" /> 
    </head> 

    <body>
        <header>
            
            <nav>
                <ul>
                     <li>
                     <a href= "inicio"> Inicio</a>
                    </li>
                    <li>
                        <a href="contacto"> Contacto</a>
                    </li>
                     <li>
                        <a href="login">Log In</a>
                    </li>
                </ul>
           </nav>
           <img id="logo-header" src="../Assets/Paws & claws-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible"/> 
        </header>
        <main>
            <section>Banner</section>

            <section>
            
                <h1>PRODUCTOS</h1>
                <ul id="product-items">
                    <li id="elementos-ind">
                        <h3 class="product-name">Cabina UV para esmaltado permanente</h3>
                        <img src="../Assets/Cabina-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="product-image" />
                        <p> $10.000</p>
                        <button id="Carrito"> <img src="../Assets/Botón carrito.JPG" alt="Imágen no disponible" /></button>
                        <button id="Ver más"> Ver más...</button>
                    </li>
            
                    <li id="elementos-ind">
                        <h3 class="product-name">Set 7 pinceles para uñas</h3>
                        <img src="../Assets/Pinceles-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible"
                            class="product-image" />
                        <p>$2.000</p>
                        <button id="Carrito"> <img src="../Assets/Botón carrito.JPG" alt="Imágen no disponible" /></button>
                        <button id="Ver más"> Ver más...</button>
                    </li>
                    <li id="elementos-ind">
                        <h3 class="product-name">Broches para sujección x 20</h3>
                        <img src="../Assets/Broches-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="product-image" />
                        <p>$6.300</p>
                        <button id="Carrito"> <img src="../Assets/Botón carrito.JPG" alt="Imágen no disponible" /></button>
                        <button id="Ver más"> Ver más... </button>
                    </li>
                </ul>
            
            </section>

        </main>

        <footer>
             <div class="Info">
                <ul>
                    <li>
                        <p> Domicilio:.........</p>
                    </li>
                    <li>
                        <p> Teléfono:.........</p>
                    </li>
                </ul>
            </div>
            <div class="Copyrigth">
                <p> Copyrigth 2022. All rights resrved.</p>
            </div>
            <div class="social media"> 
                <img src="../Assets/pngtree-twitter-pink-icon-with-transparent-background-png-image_5533404.png" alt="Imágen no disponible" class="footer-images"/>
                <img src="../Assets/instagram-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="footer-images"/>
                <img src="../Assets/Logo facebook-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" class="footer-images"/>
            </div>
            
                <img id="logo-footer" src="../Assets/Paws & claws-PhotoRoom.png-PhotoRoom.png" alt="Imágen no disponible" />
        
        </footer>
    </body>
</html>