
    section {
        text-align: center;
    }
    h2{
        color: crimson;
    }
    #producto-seleccionado{
        align-items: center;
        gap: 3em;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
        padding-top: 3em;
    }