h1 {
    color: #000;
    text-align: center;
}
.product-name{
    color: crimson;
}


#product-items {
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: center;
    align-items: center;
       
}
#elementos-ind{
    margin-top: 2em;
   
}